.admin-login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.admin-login-form {
  padding: 2rem;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

.admin-login-form h2 {
  color: #333;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.75rem;
}

.admin-login-form label {
  display: block;
  margin-bottom: 0.5rem;
  color: #666;
  font-size: 1rem;
}

.admin-login-form input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box; /* Eklendiğinde padding ve border genişliği toplam genişliğe dahil edilir */
}

.admin-login-form button {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  background-color: #0056b3;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.admin-login-form button:hover {
  background-color: #003d82;
}

/* Responsive tasarım */
@media (max-width: 768px) {
  .admin-login-form {
    margin: 1rem;
  }
}
